<%- include('includes/head') %>
<link rel="stylesheet" href="/styles/form.css">
<link rel="stylesheet" href="/styles/title-display.css">
<title>Admin area</title>
</head>

<body>
  <section class="container">
    <%- include('includes/header') %>
    <%- include('includes/home-btn') %>

    <%- include('includes/modals/title') %>
    <%- include('includes/modals/chapter') %>
    <%- include('includes/modals/delete') %>

    <div class="content">
      <h1>Área do adminisrtador</h1>
      <div class="titles-display">
        <h2>Livros</h2>
        <div class="titles">
          <button class="btn" id="create-title-btn" title="Adicionar obra">
            <ion-icon name="add-circle-outline"></ion-icon>
            <div id="ctb-cover"></div>
          </button>
          <% if (titles) { %>
          <% for (let title of titles) { %>
          <div class="title admin-title">
            <details class="title-name" open>
              <summary>
                <%= title.displayName %>
                <div class="title-actions">
                  <button class="btn admin-btn edit-btn">
                    <ion-icon name="create-outline"></ion-icon>
                  </button>
                  <button class="btn admin-btn delete-title">
                    <ion-icon name="trash-outline"></ion-icon>
                  </button>
                  <ion-icon class="name-arrow" name="caret-forward-outline"></ion-icon>
                </div>
              </summary>
            </details>
            <div class="title-content">
              <div class="title-desc-content">
                <details class="title-desc">
                  <summary>
                    Sinópse
                    <ion-icon class="desc-arrow" name="caret-forward-outline"></ion-icon>
                  </summary>
                </details>
                <% if (title.description === '') { %>
                <p class="title-desc-p unavailable">
                  Sem descrição
                </p>
                <% } else { %>
                <p class="title-desc-p ">
                  <%= title.description %>
                </p>
                <% } %>
              </div>
              <div class=" chapters">
                <% if (title.chapters) { %>
                <ul>
                  <% for (let chapter of title.chapters) { %>
                  <li class="chapter admin-chapter">
                    <div class="chapter-title">
                      <a href="/titles/<%= title.name %>/<%= chapter.number %>">
                        Capítulo <%= chapter.number %> - <%= chapter.name %>
                      </a>
                      <p class="date"></p>
                      <p class="db-date" hidden><%= chapter.uploadDate %></p>
                    </div>
                    <div class="chap-actions">
                      <button class="btn admin-btn edit-btn">
                        <ion-icon name="create-outline"></ion-icon>
                      </button>
                      <button class="btn admin-btn delete-title">
                        <ion-icon name="trash-outline"></ion-icon>
                      </button>
                    </div>
                  </li>
                  <% } %>
                </ul>
                <% } else { %>
                <p class="unavailable">Nenhum capítulo disponível no momento...</p>
                <% } %>
              </div>
            </div>
          </div>
          <% } %>
          <% } else { %>
          <p class="unavailable">Não há livros disponíveis...</p>
          <% } %>
        </div>
      </div>
    </div>
  </section>

  <script src="/js/window-events.js"></script>
  <%- include('includes/footer') %>