<%- include('includes/head') %>
<link rel="stylesheet" href="/styles/viewer.css">
<title><%= chap.titleName %> - Capítulo <%= chap.number %></title>

<body>
  <section class="container">
    <%- include('includes/header') %>
    <p id="file-id" hidden><%= chap.file %></p>

    <div class="content viewer">

      <div class="top-bar">
        <button class="btn" id="prev-page" title="Página anterior">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
        <span id="page-info">
          Página <input type="number" id="page-num" min="1"> de <span id="page-count"></span>
        </span>
        <button class="btn" id="next-page" title="Próxima página">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
      </div>
      <div id="viewer">
        <canvas id="pdf-render"></canvas>
      </div>
    </div>
  </section>

  <script src="/dependencies/pdf.js/build/pdf.js"></script>
  <script src="/js/pdfDisplay.js"></script>
  <%- include('includes/footer') %>