<%- include('includes/head') %>
<link rel="stylesheet" href="/styles/viewer.css">
<title><%= chap.titleName %> - Capítulo <%= chap.number %></title>

<body>
  <section class="container">
    <%- include('includes/header') %>
    <p id="file-id" hidden><%= chap.file %></p>

    <div class="content">

      <div class="top-bar">
        <button class="btn" id="prev-page" title="Página anterior">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </button>
        <span id="page-info">
          Página <input type="number" id="page-num" min="1"> de <span id="page-count"></span>
        </span>
        <button class="btn" id="next-page" title="Próxima página">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
      </div>

      <canvas id="pdf-render"></canvas>

      <div id="page-top" class="btn" title="Topo da página">
        <ion-icon name="caret-up-outline"></ion-icon>
      </div>
    </div>
  </section>

  <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
  <script src="/js/pdfDisplay.js"></script>
  <script>
    const scrollBtn = document.getElementById('page-top');
    scrollBtn.addEventListener('click', () => window.scrollTo(0, 0));
  </script>
  <%- include('includes/footer') %>